/* BUITTER FONT-FACE */
@font-face {
	font-family: logo_font;
	src: url('../The Mocking Bird.ttf');
}

@font-face {
	font-family: no-more-tweets;
	src: url('../TheGreatEscape.ttf');
}
/**** END BUITTER FONT FACE ****/
.logo {
	width: 25px;
	margin-right: 5px;
	margin-top: -5px;
}

#logo {
	font-family: logo_font;
	font-size: 200%;
}

#main-name {
	font-family: logo_font;
	font-size: 300%;
}

#no-more-tweets {
	font-family: no-more-tweets;
	font-size: 100%;
}

/* PROFILE */
.profile-pic {
	width: 73px;
	height: 73px; border : 4px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 1px;
	-webkit-box-shadow: 0 1px 1px;
	border: 4px solid #fff;
}

.profile-name {
	margin: 8px;
}

.profile-user {
	margin: 5px;
}

.profile-desc {
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

/* BUITS */
.buit {
	width: 90%;
	margin: 0px auto;
	padding: 20px 0;
	border-top: solid 1px #ccc;
}

.buit-profile-pic {
	width: 64px;
	height: 64px;
	border-radius: 5px;
	margin-top: 8px;
	margin-right: 8px;
}

.buit-compose-form {
	width: 90%;
	margin: 10px auto 50px;
}

.buit-compose-button {
	margin-top: 10px;
}

.text-bold {
	font-weight: bold;
}

/*
 * Style twaks
 * --------------------------------------------------
 */
body {
	padding-top: 70px;
}

footer {
	padding-left: 15px;
	padding-right: 15px;
}

.form-control2 {
	display: block;
	width: 100%;
	height: 42px;
	padding: 8px 12px;
	font-size: 17px;
	line-height: 1.428571429;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control3 {
	display: block;
	width: 125%;
	height: 42px;
	padding: 8px 12px;
	font-size: 17px;
	line-height: 1.428571429;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}
